[Particle radii] 
# MIN = corresponds to chemicalType = 1
# MAX = corresponds to chemicalType = 2

PARTICLE_RADIUS_MIN = 0.45
PARTICLE_RADIUS_MAX = 0.55
    

[Box nodes for backbone extremes]   
# Choice of box nodes to set the backbone start/end points for burning algorithm
# 0: recalculate them at each time; 1: constant for all times

BACKBONE_EXTREMES_FLAG = 1   
                     

[Fixed box nodes]    
# If user chooses box nodes constant for all times, they have to choose which ones
#     Front:         Back:
#    7     6        3     2  
#    x_____x        x_____x
#    |     |        |     |
#    |     |        |     |
#    x_____x        x_____x
#    4     5        0     1
      
NODE_START = 0
NODE_END   = 6